* {
  box-sizing: border-box;
  color: #2a2623;
}

main {
  position: absolute;
  top: 5vw;
  margin-left: 30px;
  border-radius: 25px;
  width: 72vw;
  border: 5px solid #2a2623;
  border-radius: 25px;
  background-color: #ada3a28b;
}

body {
  background: url("../assets/images/kimiUsoMangaBackground.jpeg") no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: RobotoBlack;
  font-size: calc(0.5em + 4vw);
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #2a2625 0,
    #6978a7 50%,
    #616c94 70%,
    #8091b6 75%,
    #32334c 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  backdrop-filter: blur(15px);
  border-radius: 24px;
}

.messages {
  padding: 10px;
  margin: 10px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 70vw;
  height: 34vw;
  mask: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 0.649) 6%,
    black 15%,
    black 90%,
    transparent 100%
  );
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  left: 10px;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 25px;
  opacity: 0;
  transition: opacity 500ms;
}

.message:first-child {
  margin-top: 70px;
}

.message:last-child {
  margin-bottom: 70px;
}

.avatar {
  width: 64px;
  border-radius: 32px;
  height: 64px;
  position: relative;
  place-self: end;
  border: 3px solid #67719a;
}

.message-bubble {
  --radius: 25px;
  --tail: 30px;
  --direction: 0%;

  max-width: 62vw;
  padding: calc(2 * var(--radius) / 3);
  mask: radial-gradient(var(--tail) at var(--direction) 0, #0000 98%, #000 102%) var(--direction)
      100% / calc(100% - var(--radius)) var(--tail) no-repeat,
    conic-gradient(at var(--radius) var(--radius), #000 75%, #0000 0) calc(var(--radius) / -2)
      calc(var(--radius) / -2) padding-box,
    radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0 / var(--radius) var(--radius) space
      padding-box;
  background: linear-gradient(135deg, #2a2625, #788ab6) border-box;
  color: #fff;
  border-left: var(--tail) solid #0000;
}

.name {
  padding: 0;
  margin: 0;
  color: #b7b8cf;
  font-family: RobotoBlack;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.nbr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent 0, #7d87ac 10%, transparent 100%);
}

.comment {
  color: #d8d1da;
  font-family: RobotoItalic;
  font-size: 1.2rem;
}

.comment-form {
  position: absolute;
  left: 72vw;
  top: 9vw;
  backdrop-filter: blur(5px);
  border: 5px solid #2a2623;
  border-radius: 25px;
  padding: 30px 0 0 0;
  background-color: whitesmoke;
  width: 27vw;
}

.comment-form .form-label {
  text-align: center;
  font-size: 1.5rem;
  font-family: RobotoBold;
}

.comment-form .form-row {
  display: flex;
  margin: 32px 0;
}

.comment-form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.comment-form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  background-color: whitesmoke;
  outline: none;
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: goldenrod;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: whitesmoke;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: gold;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.avatars-container {
  display: flex;
  padding: 0 10px;
  margin: 10px;
  overflow-x: scroll;
  height: 80px;
  margin-bottom: 20px;
}

.avatars-container .avatar {
  margin: 0 10px;
  place-self: start;
  transition: border 300ms;
}

.selected {
  border-color: goldenrod;
  border-width: 5px;
}

.checkbox-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-size: 1.1rem;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 5px 24px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
    transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms, color 200ms;
  z-index: 0;
  margin-left: 8vw;
  margin-bottom: 10px;
}

.button:hover {
  background: #fffcf6;
  color: #fcba39;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button:focus {
  outline: none;
  border: 2px solid #fcba39;
}

.av-la label {
  position: relative;
  left: 20px;
  font-size: 1.2em;
  font-family: RobotoItalic;
}