:root {
  --titleColor: #f3ecd1;
  --titleColorHover: #fee1a9;
  --navBGColor: #222;
  --navGlowColor: #fcba39;
  --navMenuItemColor: #878787;
  --navMenuItemHoverColor: #fcb535;
  --navMenuItemActiveColor: #de9139;
  --bodyBGColor: #2a2929;
  --lightOnColor: #e9d061;
  --lightOffColor: rgba(255, 0, 0, 0);

  --light-width: 15%;
}


@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bodyBGColor);
}

header {
  position: fixed;
  top: 0;
}

header > div.title {
  position: relative;
  top: 4px;
  left: -3px;
}

header > div.title > a {
  text-decoration: none;
  font-family: RobotoBlack;
  font-weight: 600;
  color: var(--titleColor);
  font-size: 2.5em;
  transition: color 500ms;
}

header > div.title > a:hover {
  color: var(--titleColorHover);
}

nav {
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: -1;
  background: var(--navBGColor);
  box-shadow: 0px 10px 20px -5px var(--navGlowColor);
}

ul.navigation {
  list-style: none;
  display: flex;
  justify-content: right;
  position: relative;
  top: -20px;
}

ul.navigation a {
  font-family: RobotoBold;
  text-decoration: none;
  height: 45px;
  margin: 10px;
  line-height: 43px;
  padding: 0 0.5em;
  display: flex;
  font-size: 1em;
  font-weight: 600;
  color: var(--navMenuItemColor);
  transition: color 700ms, border-bottom 600ms, font-size 1000ms;
}

ul.navigation a:hover {
  font-size: 1.1em;
  color: var(--navMenuItemHoverColor);
  border: var(--navBGColor) solid;
  border-bottom: 5px solid var(--navMenuItemHoverColor);
}

ul.navigation .activeNow {
    color: var(--navMenuItemActiveColor);
}

.line {
  position: fixed;
  width: 200vw;
  height: 1px;
  overflow: hidden;
  background: transparent;
  top: 51px;
  transform: translateX(-50%) translateY(-50%);
}

.line:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(
    90deg,
    var(--lightOffColor),
    var(--lightOffColor) 200vw,
    var(--navGlowColor) 200vw,
    var(--navGlowColor) calc(200vw + 5px)
  );
  background-size: 200% 200%;
}

.light {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: var(--light-width);
  background: linear-gradient(90deg, transparent 0%, var(--lightOnColor) 45%, var(--lightOnColor) 55%, transparent 100%);
  animation: glow-bar 20s infinite ease-in-out alternate;
}

@keyframes glow-bar {
  0%, 100% {
    left: calc(var(--light-width) / 2 * -1);
  }
  50% {
    left: calc(100% - var(--light-width) / 2);
  }
}